:root {
  /* Colors */
  --white: #ffffff;
  --rose-50: #fff7fb;
  --rose-800: #7a284e;
  --stone-100: #f3e5d7;
  --stone-150: #f3e5d7;
  --stone-600: #5f564d;
  --stone-900: #312e2c;
  --brown-800: #854632;

  --ff-base: "Outfit", sans-serif;
  --ff-accent: "Young Serif", sans-serif;
}
